
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    margin: 0;
    padding: 0;
    /* background: linear-gradient(rgba(77, 71, 255, 0.016), rgba(0, 0, 0, 0)); */
}


.primary-button{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 10px;
    cursor: pointer;
}


header{
    background-image: url("../Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    text-align: center;
    margin-top: 158px;
    padding-bottom: 152px;
}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 51.5px;
}
nav h3{
    font-size: 34px;
    /* font-weight: bold; */
    color: #4E47FF;
}
.header-head{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 37px;
}


.first-section{
    display: flex;
    gap: 220px;
    max-width: 1140px;
    margin: 116px auto;
    height: 328px;
    align-items: center;
}

.first-section-header{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 23px;
}
.first-section-description{
    font-size: 24px;
    color: #252432;
    margin-bottom: 23px;
}
.first-section-img{
    border-radius: 48px;
    width: 403px;
    height: 328px;
}


.second-section{
    max-width: 1140px;
    height: 306px;
    background-color: rgba(77, 71, 255, 0.151);
    margin: 0 auto;
    border-radius: 24px;
    text-align: center;
}
.second-section-header{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    padding-top: 40px;
    padding-bottom: 30px;
}
.second-section-numbers{
    display: flex;
    justify-content: space-around;
}
.number{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.number-title{
    font-size: 20px;
    color: #000000;
}

/* .stars{
    font-size: 24px;
    color: gold;
} */
/* .stars {
    font-size: 24px;
}

.star {
    color: #ccc;
}
.star.filled {
    color: gold;
} */


.third-section{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 137px;
}
.third-section-head{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin-top: 137px;
    margin-bottom: 50px;
}
.user-reviews{
    display: flex;
    gap: 20px;
}
.users{
    background-color: #4d47ff0c;
    border-radius: 14px;
    padding: 24px;
}
.stars{
    margin-bottom: 24px;
}
.review-header{
    margin-bottom: 8px;
    color: #1E1E1E;
}
.review-description{
    margin-bottom: 24px;
    color: #1E1E1E;
}
.reviewer-info{
    display: flex;
    gap: 6px;
}
.reviewer-img{
    border-radius: 50%;
}
.reviewer-name{
    color: #757575;
}
.date{
    color: #B3B3B3;
}